name: Build and Push Images

on:
  push:
    branches:
      - main
      - release-*
jobs:
  build_push:
    if: (github.repository == 'kubevirt/must-gather')
    name: Build and Push Images
    runs-on: ubuntu-latest
    env:
      QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
      QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
      REGISTRY_NAMESPACE: kubevirt
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      - name: Check build
        run: |
          make check MUST_GATHER_IMAGE=$REGISTRY_NAMESPACE/must-gather
      - name: Build and Push multi-arch Image
        env:
          MUST_GATHER_IMAGE: $REGISTRY_NAMESPACE/must-gather
        run: |
          echo $QUAY_PASSWORD | docker login -u $QUAY_USERNAME --password-stdin quay.io
          make docker-multi-arch MUST_GATHER_IMAGE=$REGISTRY_NAMESPACE/must-gather
